/* .calendar-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    max-width: 20px;
    margin: 0 auto;
  }
  
  .date {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .selected {
    background-color: lightgreen;
    color: white;
    font-weight: bold;
  }
   */