/* .navbar {
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-toggler-icon {
    background-color: #fff;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff !important;
  }
  
  .nav-link:hover {
    color: #198754 !important;
  }
  
  .navbar-nav .active .nav-link {
    color: #198754 !important;
    font-weight: bold;
  }
  
  .logo {
    border-radius: 50%;
  } */